@charset "UTF-8";
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */

@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev {
    left: 0;
}
.slick-next {
    right: 0;
}
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 40%;

    display: block;

    width: 60px;
    height: 60px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: unset;
    outline: none;
    background: transparent;
    z-index: 9;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
    color: #f8df5a;
}

.slick-prev:before,
.slick-next:before
{
    font-family: Font Awesome\ 5 Free;
    font-size: 32px;
    line-height: 1;
    font-weight: 900;
    opacity: 1;
    color: #f8df5a;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


[dir='rtl'] .slick-prev
{
    left: auto;
}
.slick-prev:before
{
    content: '\f053';
}
[dir='rtl'] .slick-prev:before
{
    content: '\f053';
}


[dir='rtl'] .slick-next
{
    right: auto;
}
.slick-next:before
{
    content: '\f054';
}
[dir='rtl'] .slick-next:before
{
    content: '\f054';
}


/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}
.slick-dots {
    text-align: center;
    width: 100%;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 18px;
    height: 18px;
    margin: 0 6px;
    padding: 0;

    cursor: pointer;
    border-radius: 50%;
    border: 3px solid transparent;
    box-sizing: border-box;
}
.slick-dots li:before {
    content: '';
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    height: 12px;
    width: 12px;
}
.slick-dots li button
{
    display: none;
}
.slick-dots li:hover, .slick-dots li.slick-active,
.slick-dots li:focus
{
    border-color: #000;
}
.slick-dots li:hover:before, .slick-dots li.slick-active:before,
.slick-dots li:focus :before{
    background-color:transparent;
}
.slick-dots li:before {
    background-color: #f8df5a;
}
.slick-dots li:hover, .slick-dots li.slick-active, .slick-dots li:focus {
    border-color: #000;
}
.slick-dots li:hover:before,  .slick-dots li.slick-active:before, .slick-dots li:focus:before {
    background-color: transparent;
}
